@import '../../variable.scss';
@import '../../variable.scss';

.vjs-loading-spinner {
  display: none;
  @include square(50px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: left;
  box-sizing: border-box;
  background-clip: padding-box;
  border-radius: 50%;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-top-color: white;
    border-radius: 50%;
    position: relative;
    top: 50%;
    margin: auto;
    margin-top: -50%;
  }
}

.vjs-seeking .vjs-loading-spinner,
.vjs-waiting .vjs-loading-spinner {
  display: block;
  animation: h5LoadingAnimation 1s linear infinite;
}

@keyframes h5LoadingAnimation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
