@import '../../variable.scss';

.vjs-error-display {
  .vjs-modal-dialog-content {
    &:before {
      font-size: 4em;
      line-height: 1em;
      margin-bottom: 0.2em;
      display: block;
    }
  }
}
