@import '../../variable.scss';

.vjs-context-menu {
  z-index: 1000;
  border-radius: 3px;

  .vjs-close-context-menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    outline: none;
  }

  .vjs-menu-content {
    position: relative;
  }
}

.vjs-context-menu-item {
  display: flex;
  align-items: center;
  span {
    display: block;
  }

  .vjs-menu-item-text {
    margin-left: 0.5em;
  }

  &:after {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (min-width: $small-dimension +1) {
  .vjs-context-menu {
    position: absolute;
    top: 0;
    left: 0;

    .vjs-menu-content {
      width: calc-menu-width(225/16);
    }
  }
}

@media (max-width: $small-dimension) {
  .vjs-context-menu {
    top: 0 !important;
    left: 0 !important;

    @include visibility-transition-menu-style(':not(.vjs-hidden)');

    &.vjs-hidden {
      display: block !important;
      visibility: hidden;
    }
  }

  .vjs-close-context-menu {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
  }
}
